.bundle/*
!.bundle/config

###############################################################################################
# Ignore all logfiles and tempfiles.
###############################################################################################
/log/*.log
/tmp
/.bundle
/vendor/bundle


###############################################################################################
# Ignore application configurations
###############################################################################################
.chef
.vagrant
=======
\#*
**/*.db
**/*.log
*~
/log
.#*
.DS_Store
.bundle
.dotest
.idea
.loadpath
.project
.ruby-version
bin/*
public/dispatch.cgi
public/dispatch.fcgi
public/dispatch.rb
httpd
pgsql
config/*-public.asc
config/database.yml
config/mongrel_cluster.yml
db/*.sql
db/*.sqlite3*
db/*.sqlite3
*/*.sqlite*
db/schema.rb
doc/**/*
Gemfile.lock
*/Gemfile.lock
lib/products_index_profiler.rb
log/*.log
pkg
public/assets
public/attachments
public/blank_iframe.html
public/ckeditora
sandbox/*
spree_dev
spree_test
testapp
**/spec/dummy
tmp
public/google_base.xml
public/template_google_base.xml
coverage/*
var
TAGS
nbproject

tags
*.swp
rerun.txt
test_app
.rvmrc

###############################################################################################
# Ignore local asset pipline cache files
###############################################################################################
/public/assets


###############################################################################################
# APPLICATION #
###############################################################################################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.psd
*.ai
*.ase


###############################################################################################
# Packages #
###############################################################################################
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


###############################################################################################
# Logs and databases #
###############################################################################################
*.log
*.sql
*.sqlite
*.sqlite3

###############################################################################################
# OS generated files #
###############################################################################################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

