<div class='row'>
	<div id='about-us' class='col-md-5'>
		<h2>Quienes somos</h2>
		<div id='about-text'>
			<p>Somos una empresa dedicada a producir alimentos saludables.</p>
		</div>		
	</div>
	<div class='col-md-7'>
		<%= image_tag('alimentos_p.jpg', class: "img-responsive", alt: "Boutique de alimentos Puiggari") %>
	</div>
</div>