<div class='row'>
	<div id='about-us' class='col-md-7'>
		<h2>La Empresa</h2>
		<div id='about-text'>
			<ul>
				<li>
					<p>A comienzos del año 2012, Alimentos Ceape inició la construcción de la nueva planta ubicada en Sarmiento 1303 con la finalidad de aumentar su capacidad productiva, pero al mismo tiempo trabajar con los más altos estándares de calidad e inocuidad a nivel internacional. </p>
				</li> 
				<li>
					<p>Hace ya más de 80 años, la fábrica de Alimentos Ceape tiene una producción de consumo local, con la actividad principal, extrusión de cereales con un proceso continuo. </p>
				</li>
				<li>
					<p>A comienzos del año 2012, Alimentos Ceape inició la construcción de la nueva planta ubicada en Sarmiento 1303 con la finalidad de aumentar su capacidad productiva, pero al mismo tiempo trabajar con los más altos estándares de calidad e inocuidad a nivel internacional. </p>
				</li> 
				
				<li>
					<p>En enero de 2014, Alimentos Ceape empezó con los procesos de producción en las nuevas instalaciones. Para garantizar la calidad de los productos, Alimentos Ceape, en enero de 2014, Alimentos Ceape empezó con los procesos de producción en las nuevas instalaciones. </p>
				</li>
			</ul>
		</div>		
	</div>
	<div class='col-md-5'>
		<%= image_tag('alimentos_p.jpg', class: "img-responsive", alt: "Boutique de alimentos Puiggari") %>
	</div>
</div>
<div class='row'>
	<div id='about-us' class='col-md-7'>
		<h2>Filosofía</h2>
		<div id='about-text'>
			<ul>
				<li>
					<p> <b>Visión:</b> De acuerdo a investigaciones hechas en la industria de cereales y derivados se ha creado la visión y misión de Alimentos Ceape. “La visión es convertirse en una empresa líder en el procesamiento de extrusión y comercialización de los productos de cereales por la calidad de sus productos y la concientización de la salud”.</p>
				</li>
				<li>
					<p><b>Misión:</b> La misión de Alimentos Ceape es satisfacer día a día las necesidades de nuestros clientes, brindándoles calidad de cereales y realizando actividades sociales para la concientización en la salud.  </p>
				</li>

			</ul>

		</div>		
	</div>
</div>