<div id='footer' class=''>
	<div class='row' id='footer-cont'>
		<div class='col-md-4'>				
					<p>
					Contacto: <a href="mailto:informes@alimentospuiggari.com?Subject=Consulta" target="_top">informes@alimentospuiggari.com</a>
					</p>
				
		
			
		</div>
		<div class='col-md-4 col-md-offset-4'>
					<p class='dropdown-menu-right'>
					Todos los derechos reservados a Alimentos CEAPE.            
					</p>
		</div>
	</div>
</div>